@use '../../sass/mixins';

.grid{
    display: grid;
}

.cell{
    aspect-ratio: 1;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: transform 500ms;
    position: relative;
    display: flex;

    [data-flipped="true"]{
        transform: rotateY(180deg);
    }

    [data-guessed="true"] .back{
        background: rgba(0, 0, 0, 0.493);
    }
}

svg{
    max-width: 100%;
}