@use '../../sass/mixins';
@use '../../sass/variables';

.grid-wrapper{
    height: 100%;
    width: 100%;
    background-color: black;
}

.grid{
    height: 100%;
    width: 100%;
    grid-gap: 2px;
    display: grid;
    overflow: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    @media (min-width:variables.$breakpoint-small-screen) {
        border: 2px solid black;
    }
}

.cell{
    background-color: variables.$color-primmary;
    transform-style: preserve-3d;
    transform: transform variables.$animation_speed;
    cursor: pointer;
    backface-visibility: hidden;
}


.front{
    transform: rotateX(0deg);
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}

.back{
    height: 100%;
    width: 100%;
    position: absolute;
    transform: rotateX(180deg);
    background-color: variables.$color-primmary;
    backface-visibility: hidden;
    background-color: red;
}

.prevent-click , [data-guessed=true], [data-flipped=false]{
    pointer-events: none;
}

[data-flipped=true]{
    transform: rotateX(180deg);
}

