*, *::before, *::after{
    box-sizing: border-box;
}

button{
    border: none;
    padding: none;
}

body{
    margin: 0;
}

.app{
    height: 100vh;
    width: 100vw;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 85%;
    aspect-ratio: 1/1;
    outline: 10px grey solid;
}

.grid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 10px;
}

.cell{
    backface-visibility: hidden;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: transform 500ms;
    position: relative;
    display: flex;

}

.flipped{
    transform: rotateY(180deg);
}

.front, .back{
    backface-visibility: hidden;

    
}

.front{
    transform: rotateY(0deg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  
 
}

.back{
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;

}
